body{
    font-family: 'PT Serif', serif;
    margin:0;
    letter-spacing: 0.5px;
}

/* -- Top Area Start --  */

.flexible-container{
    display: flex;
    margin-left: 35px;
}
.haif-width{
    width: 35%;
    margin: 80px auto;
}
.haif-width img{
    width: 90%;
}
.haif-width h1{
    font-size: 60px;
    color: #333333;
}
p{
    font-size: 19px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: justify;
    margin-top: -30px;
}
.border{
    position: relative;
    padding: 10px 20px;
}
  
.border:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 30%;
    height: 42%;
    border-left: 5px solid #FF5959;
    border-radius: 20px;
}
.orange-button{
   text-decoration: none;
   font-size: 18px;
   color: #fff;
   padding: 10px 30px;
   background: #FF5959;
   border-radius: 5px;
}
.haif-width h5{
    font-size: 19px;
    font-weight: 200;
}

/* -- Top Area End--  */


/* --Card area Strat--  */

h3{
    font-size: 48px;
    text-align:center;
    font-weight: bold;
    color: #13103A;
    font-family: 'Bitter', serif;
}
span{
    color: #FFAD5A;
}
.card-section{
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 100px;
}
.box img{
    width: 40%;
    margin-top: 30px;
    margin-left: 30px;
}
.box{
    margin-left: 45px;
    margin-top: 30px;
   
}
.card-1{
    background: #EDF5F6;
    border-radius: 30px;
    height: 370px;
}
.card-2{
    background: #FFEEEE;
    border-radius: 30px;
    height: 370px;
}
.card-3{
    background: #FFF4D6;
    border-radius: 30px;
    height: 370px;
}
h4{
    font-size: 26px;
    font-family: 'Bitter', serif;
    margin-left: 30px;
}
.card-text{
   font-size: 16px;
   width: 80%;
   text-align: justify;
   margin-left: 30px;
   font-weight: 100;
   font-family: 'PT Serif', serif;
   text-transform: capitalize;
}

/* Card section end---  */

/* Devloper Section Start--  */

.develop h6{
   margin-top: 40px;
   margin-left: -180px;
   font-size: 50px;
}
.develop p{
    margin-left: -180px;
    margin-top: -100px;
    margin-bottom: 40px;
    font-family: 'Bitter', serif;
}
.btn{
    margin-left: -180px;
}

.first-shape{
    background-repeat: no-repeat;
    background-image: url(img/shapes/shape-1.png);
    background-position: left;
    background-size: 300px;
}
/* Devloper Section End---  */

/* Project Area start---  */

.Project h6{
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Bitter', serif;
}
.Project p{
    margin-top: -100px;
    margin-bottom: 40px;
    font-family: 'Bitter', serif;
}

.second-shape{
    background-repeat: no-repeat;
    background-image: url(img/shapes/shape-1.png);
    background-position: 1200px 420px;
    background-size: 200px;
}
/* Project Area end---  */


/* contact Area Strat-- */

.contact input,
.contact textarea{
    width: 100%;
    padding: 0.5rem;
    box-shadow: 10px 10px 40px #c9c5c5;
    border: 4px solid #FFAD5A;
    border-radius: 5px;
}
.contact form{
    width: 100%;
}
.contact label{
    font-size: 17px;
    font-weight: 200;
    color: #13103A;
}
.contact{
    margin-right: 200px;
}
.from-group{
    padding: 10px 0px;
}

.cont-image img{
    width: 450px;
    height: 490px;
    margin-left: 100px;
    border-radius: 30px;
}

.from{
    display: flex;
    width: 100%;
}
.contact-form h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Bitter', serif;
    text-align: center;
    color:#13103A;
}
.contact-form p{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Bitter', serif;
    text-align: center;
    color:#13103A;
}

.text-area{
    position: relative;
    top: 4px;
}

/* contact Area End-- */

/* Footer Area Strat---- */

footer{
  height: 160px;
  background: #0B0D17;
}
footer h1{
    color: #ffff;
    text-align: center;
}
footer p{
    color: #ffff;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
}
.red-text{
    color:#FF5959;
}

/* Footer Area End---- */

